<footer id = "footer" class = "footer text-center">
    <div class = "container">
    <div class = "footer-inner text-white py grid">
    <div class = "footer-item">
        <h3 class = "footer-head">about us</h3>
        <div class = "icon">
            <img src = "assets/images/logo.png">
        </div>
        <p class = "text text-md"><h2>Healthcare Landmark</h2>
          REVO Hospital, a healthcare landmark, has been a household name to more than 50 million Indians. We currently have branches in Mumbai and Visakhapatnam.
        <address>
            Medic Clinic <br>
            69 Deerpark Rd, Mount Merrion <br>
            Co. Dublin, A94 E9D3 <br>
            Ireland
        </address>
    </div>
    
    <div class = "footer-item">
        <h3 class = "footer-head">tags</h3>
        <ul class = "tags-list flex">
            <li>medical care</li>
            <li>emergency</li>
            <li>therapy</li>
            <li>surgery</li>
            <li>medication</li>
            <li>nurse</li>
        </ul>
    </div>
    
    <div class = "footer-item">
        <h3 class = "footer-head">Quick Links</h3>
        <ul>
            <li><a href = "#" class = "text-white">Our Services</a></li>
            <li><a href = "#" class = "text-white">Our Plan</a></li>
            <li><a href = "#" class = "text-white">Privacy Policy</a></li>
            <li><a th:href = "@{/user/newAppointment}" class = "text-white">Appointment Schedule</a></li>
        </ul>
    </div>
    
    <div class = "footer-item">
        <h3 class = "footer-head">Make an Appointment</h3>
        <p class = "text text-md"></p>
        <ul class = "appointment-info">
            <li>8:00 AM - 11:00 AM</li>
            <li>2:00 PM - 05:00 PM</li>
            <li>8:00 PM - 11:00 PM</li>
            <li>
                <i class = "fas fa-envelope"></i>
                <span>revomedic@gmail.com</span>
            </li>
            <li>
                <i class = "fas fa-phone"></i>
                <span>+003 478 2834(00)</span>
            </li>
        </ul>
    </div>
    </div>
    
    <div class = "footer-links">
    <ul class = "flex">
        <li><a href = "#" class = "text-white flex"> <i class = "fab fa-facebook-f"></i></a></li>
        <li><a href = "#" class = "text-white flex"> <i class = "fab fa-twitter"></i></a></li>
        <li><a href = "#" class = "text-white flex"> <i class = "fab fa-linkedin"></i></a></li>
    </ul>
    </div>
    </div>
    </footer>
